.imc-calculator-container {
  height: 100%;
  overflow: scroll;
  width: 100%;
}

.imc-calculator-container h1 {
  font-size: 3rem;
}

.imc-calculator-container p {
  margin: 12px auto;
  text-align: justify;
  max-width: 600px;
  width: 90%;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 16px auto;
  width: 360px;
}

form input {
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 8px;
  height: 32px;
  margin: 0 4px;
  outline: none;
  width: 40px;
}

form button {
  background-color: rgb(20, 12, 12);
  border-radius: 8px;
  color: rgb(197, 197, 197);
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 12px auto;
  padding: 16px;
  width: 100%;
}

.table {
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  margin: 16px auto;
  width: 360px;
}

.table h4 {
  background-color: rgb(20, 12, 12);
  border-radius: 8px 8px 0 0;
  color: rgb(197, 197, 197);
  margin: 0;
  padding: 12px;
  width: 100%;
}

.table p {
  line-height: 16px;
  border-bottom: 1px dotted rgb(20, 12, 12);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 12px 20px;
  width: 100%;
}

.table p:last-of-type {
  border: none;
}